
.background-asist{
    background-color: $asistenterBg;

    padding: 10px 100px;
    
}

.pars-cont{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: $borderInParams $widthBorderY solid;
    display: flex;
    justify-content: center;
}

.asistenter-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $asistenterCentralBg;
    border-radius: 10px;
    overflow: hidden;
    .general-params{
        display: flex;
        justify-content: center;
        width: $generalParamsWX;
        height: 100%;
        .tourn-params{
            width: 33%;
            padding: 10px;
            display: flex;
            flex-direction: column-reverse;
            border-right: $widthBorderX $borderInParams solid;
            justify-content: space-between;

            .tourn-select {
                border-radius: 10px;
                overflow: hidden;
                .in-tourn{
                    padding: $paddingInTourYX;
                }
            }
            
            .checked-opt{
                transition: background 300ms;

                background-color: $tournCheckedBg;
            }
            
        }
        .modulo-sty{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            padding: 10px $moduloStyPaddingX;
            border-right: $widthBorderX $borderInParams solid;
            .grupo-taller{
                flex-direction: column;
                .checked-opt{
                    transition: background 300ms;
                    background-color: #eee;
                }
                .gro-opt{
                    padding: 10px;
                }
            }
            
        }
        .just-falta{
            width: $justFaltaWidth;
            .just-opt{
                transition: background 0;
                padding: $justOptPadding;
                &:hover{
                transition: background 400ms;
                background-color: $justFaltaBgHover;
                }
            }
            .checked-opt{
                border-left: $justFaltaBorderChecked 4px solid;
            }
        }
    }
    .searcher{
        $radius1: 35px;
        $radius2: 35px;
        
        
        width: $searcherWidth;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        overflow: hidden;
        border: #222 3px solid;
        input{
            &:focus{
                border: none;
                outline: none;
                background-color: $searchInpFocusBg;
                transition-duration: $searchInpFocusMS;
                &::placeholder{
                    color: $searchInpPlaceCol;
                }
            }
            transition: all 300ms;
            &:active{
                background-color: $searchInpClickBg;
                transition-duration: $searchInpClickMS;
            }
            border: none;
            width: 70%;
            height: 100%;
            padding: 7px;
        }
        .submit-search{
            width: 30%;
            height: 100%;
            border: none;
            cursor: pointer;
            background-color: $searchBtnBg;
            transition: all ;
            &:hover{
                transition-duration: $searchBtnHoverMS;
                background-color: $searchBtnHoverBg;
            }
            &:active{
                transition-duration: $searchBtnClickMS;
                background-color: $searchBtnClickBg;
            }
        }
    }
    .alumn-list{
        width: 100%;
        
    }
    .list{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($minAlumnItemWidth, 1fr));
        /*grid-auto-rows: 400px;
        grid-auto-flow: column;*/
        gap: $alumnItemsGridGap;
        .alumn-item-check{
            background-color: $alumnPresenteBg !important;
        }
        .alumn-item-just{
            background-color: $alumnJustificadaBg !important;
        }
        .alumn-item{
            transition: background $alumnMSBgAnim;
            padding: 10px;
            border-radius: 15px;
            overflow: hidden;
            background: $alumnItemBg;
            .pres-check{
                padding: 10px; 
                border-radius: 10px;
                cursor: pointer;
                transition: filter 0.2s;
                *{
                    cursor: pointer;
                }
                &:hover{
                    background-color: inherit; /* Hereda el color del padre */
                    filter: brightness(70%); /* Oscurece el fondo en un 30% */
                    label{
                        color: white;
                        filter: brightness(0);
                    }
                }
                input:checked{
                    background-color: $checkersCheckedBg;
                }
            }
            .presence-cont{
                & > .alumn-checked{
                    background-color: #91e75c;
                }
            }
            .justas-cont{
                
                & > .alumn-checked{
                    background-color: #3177cc;
                }
            }
        }
    }
    .submit-presence{
        width: 100%;
        height: 10vh;
        button{
            width: 100%;
            height: 100%;
            border: none;
            background-color: $submitButtonBg;
            transition: all $submitBgAnimMS;
            cursor: pointer;
        
            &:hover{
                background-color: $submitButtonBgHover;
                .button-cont{
                    transition: all $submitArrowAnimMs;
                    transform: translate(0, $submitArrowYAnim);
                }
            }
            .point-down-animation{
                transform: rotate(90deg);
            }
        }
    }
}

