.searcher-accounts{
    display: flex;
    flex-direction: row;
    .search-pars{
        display: flex;
    }
    .par-menu{
        display: flex;
        .selected{
            background-color: $RoSeParMenuBGSel;
        }
    }
    .linked-opt{
        .linked-true{
            background-color: $RoSeLinkedYBG;
        }
        .linked-false{
            background-color: $RoSeLinkedNBG;
        }
        
    }
}