.selected{
    background-color: $RoSeParMenuBGSel;
}
.unselected{
    background-color: $RoSeCourseParUnSel;
}

.searcher-accounts{
    display: flex;
    flex-direction: row;
    .search-pars{
        display: flex;
    }
    .par-menu{
        display: flex;
        
    }
    .linked-opt{
        .linked-true{
            background-color: $RoSeLinkedYBG;
        }
        .linked-false{
            background-color: $RoSeLinkedNBG;
        }
        
    }
}
.menu-results{
    background-color: $RoSeResultsListBG;
    .result-item{
        background-color: $RoSeResultItemBG;
        padding: 20px;
    }
}