@import './_vars.scss';

@import './molecules/_Nav.scss';
@import './molecules/_customSelectStyles.scss';
@import './molecules/errorMsg.scss';

@import "./pages/_asistenter.scss";
@import "./pages/_initStyles.scss";
@import "./pages/_setRoles.scss";
@import "./pages/_account.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}