.ap-nav {
  width: 100vw;
  height: 10vh;
  background-color: #6e7cbd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cus-select-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.cus-select {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  background-color: #3f82f7;
  width: 100%;
  height: 100%;
}

.cus-select-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cus-select-options {
  position: absolute;
  width: 100%;
  max-height: 35vh;
  top: 100%;
  left: 0%;
  z-index: 99;
  background: #a0aed1;
  overflow: auto;
  scrollbar-color: #030f2b;
  scrollbar-width: 10px;
}
.cus-select-options::-webkit-scrollbar-thumb {
  -webkit-transition: all 5s;
  transition: all 5s;
  background-color: none;
}
.cus-select-options:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  width: 100%;
  height: 3px;
}
.cus-select-options::-webkit-scrollbar {
  width: 10px;
  height: 98%;
}

.cus-select-option {
  background: #a0aed1;
  padding: 5px;
}
.cus-select-option:hover {
  background-color: #7d98dd;
}

.modulo .cus-select-option {
  padding: 10px;
}

.error-msg-cont {
  display: flex;
  border: 4px solid #e00f0f;
  color: #e00f0f;
  background-color: none;
  padding: 2vw;
  border-radius: 20px;
  margin: 10px;
}
.error-msg-cont .err-text {
  width: 95%;
  height: 100%;
}
.error-msg-cont .err-q {
  width: 5%;
  display: flex;
  align-items: flex-start;
}

.background-asist {
  background-color: #c5bbbb;
  padding: 10px 100px;
}

.pars-cont {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: #9b9b9b 4px solid;
  display: flex;
  justify-content: center;
}

.asistenter-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.asistenter-cont .general-params {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.asistenter-cont .general-params .tourn-params {
  width: 33%;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  border-right: 4px #9b9b9b solid;
  justify-content: space-between;
}
.asistenter-cont .general-params .tourn-params .tourn-select {
  border-radius: 10px;
  overflow: hidden;
}
.asistenter-cont .general-params .tourn-params .tourn-select .in-tourn {
  padding: 20px 80px;
}
.asistenter-cont .general-params .tourn-params .checked-opt {
  transition: background 300ms;
  background-color: #c5bbbb;
}
.asistenter-cont .general-params .modulo-sty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5vw;
  border-right: 4px #9b9b9b solid;
}
.asistenter-cont .general-params .modulo-sty .grupo-taller {
  flex-direction: column;
}
.asistenter-cont .general-params .modulo-sty .grupo-taller .checked-opt {
  transition: background 300ms;
  background-color: #eee;
}
.asistenter-cont .general-params .modulo-sty .grupo-taller .gro-opt {
  padding: 10px;
}
.asistenter-cont .general-params .just-falta {
  width: 350px;
}
.asistenter-cont .general-params .just-falta .just-opt {
  transition: background 0;
  padding: 7px;
}
.asistenter-cont .general-params .just-falta .just-opt:hover {
  transition: background 400ms;
  background-color: #a7a7a7;
}
.asistenter-cont .general-params .just-falta .checked-opt {
  border-left: #7cd8a6 4px solid;
}
.asistenter-cont .msg-list-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.asistenter-cont .msg-list-cont .msg-list-center {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 7.5vh;
  gap: 15px;
  background-color: #b7b2ae;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-type-error {
  border: #ed1010 2px solid;
  color: #ed1010;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-type-update {
  border: #0838a8 2px solid;
  color: #0838a8;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-type-success {
  border: #17a719 2px solid;
  color: #17a719;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-item .msg-text {
  text-align: center;
  width: 90%;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-item .msg-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  display: flex;
  transition: all 0.5s;
}
.asistenter-cont .msg-list-cont .msg-list-center .msg-item .msg-close-button:hover {
  background-color: rgba(195, 27, 27, 0.6745098039);
  color: #eee;
}
.asistenter-cont .searcher {
  margin-top: 10px;
  width: 50%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: #222 3px solid;
}
.asistenter-cont .searcher input {
  transition: all 300ms;
  border: none;
  width: 70%;
  height: 100%;
  padding: 7px;
}
.asistenter-cont .searcher input:focus {
  border: none;
  outline: none;
  background-color: #928a8a;
  transition-duration: 400ms;
}
.asistenter-cont .searcher input:focus::-moz-placeholder {
  color: #333;
}
.asistenter-cont .searcher input:focus::placeholder {
  color: #333;
}
.asistenter-cont .searcher input:active {
  background-color: #73a8d1;
  transition-duration: 500ms;
}
.asistenter-cont .searcher .submit-search {
  width: 30%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: #eee;
  transition: all;
}
.asistenter-cont .searcher .submit-search:hover {
  transition-duration: 300ms;
  background-color: #b5b2b2;
}
.asistenter-cont .searcher .submit-search:active {
  transition-duration: 500ms;
  background-color: #73a8d1;
}
.asistenter-cont .alumn-list {
  width: 100%;
}
.asistenter-cont .list {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  /*grid-auto-rows: 400px;
  grid-auto-flow: column;*/
  gap: 10px;
}
.asistenter-cont .list .alumn-item-check {
  background-color: #66e72b !important;
}
.asistenter-cont .list .alumn-item-just {
  background-color: #d78f13 !important;
}
.asistenter-cont .list .alumn-item {
  transition: background 0.3s;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background: #bf4040;
}
.asistenter-cont .list .alumn-item .pres-check {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.2s;
}
.asistenter-cont .list .alumn-item .pres-check * {
  cursor: pointer;
}
.asistenter-cont .list .alumn-item .pres-check:hover {
  background-color: inherit; /* Hereda el color del padre */
  filter: brightness(70%); /* Oscurece el fondo en un 30% */
}
.asistenter-cont .list .alumn-item .pres-check:hover label {
  color: white;
  filter: brightness(0);
}
.asistenter-cont .list .alumn-item .pres-check input:checked {
  background-color: #50cc31;
}
.asistenter-cont .list .alumn-item .presence-cont > .alumn-checked {
  background-color: #91e75c;
}
.asistenter-cont .list .alumn-item .justas-cont > .alumn-checked {
  background-color: #3177cc;
}
.asistenter-cont .submit-presence {
  width: 100%;
  height: 10vh;
}
.asistenter-cont .submit-presence button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #39b043;
  transition: all 800ms;
  cursor: pointer;
}
.asistenter-cont .submit-presence button:hover {
  background-color: #b03939;
}
.asistenter-cont .submit-presence button:hover .button-cont {
  transition: all 600ms;
  transform: translate(0, 5px);
}
.asistenter-cont .submit-presence button .point-down-animation {
  transform: rotate(90deg);
}

.init-cont-ex {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  padding: 10vh 0;
  background-color: #031744;
}
.init-cont-ex .init-cont-in {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #030f2b;
  border-radius: 10px;
  padding: 50px;
  width: 35vw;
}
.init-cont-ex .init-cont-in .init-title {
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
  color: #ebebeb;
}
.init-cont-ex .init-cont-in .init-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  width: 80%;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item label {
  font-size: 35px;
  color: #ebebeb;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item input {
  border: none;
  width: auto;
  font-size: 25px;
  padding: 5px;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item input:focus {
  outline: none;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item::after {
  transition: all 0.4s;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #2e4a87;
  z-index: -1;
}
.init-cont-ex .init-cont-in .init-form .init-inp-item:hover::after {
  transition: all 10s cubic-bezier(0, 1.09, 0, 0.73);
  width: 100%;
}
.init-cont-ex .init-cont-in .init-form .init-inp-focus::after {
  transition: none;
  background-color: #031744;
  width: 100%;
}
.init-cont-ex .init-cont-in .init-form .init-inp-focus:hover::after {
  transition: none;
}
.init-cont-ex .init-cont-in .init-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.init-cont-ex .init-cont-in .init-button button {
  transition: all 0.35s;
  width: 300px;
  border: none;
  padding: 30px 0;
  font-size: larger;
}
.init-cont-ex .init-cont-in .init-button button:hover {
  background-color: #5edf0e;
}
.init-cont-ex .init-cont-in .init-button button:active {
  background-color: #527a0d;
  outline: none;
}

.selected {
  background-color: #17a719;
}

.unselected {
  background-color: #ac1515;
}

.searcher-accounts {
  display: flex;
  flex-direction: row;
}
.searcher-accounts .search-pars {
  display: flex;
}
.searcher-accounts .par-menu {
  display: flex;
}
.searcher-accounts .linked-opt .linked-true {
  background-color: #17a719;
}
.searcher-accounts .linked-opt .linked-false {
  background-color: #e00f0f;
}

.menu-results {
  background-color: #cfcccc;
}
.menu-results .result-item {
  background-color: #fae8e8;
  padding: 20px;
}

.account-pres {
  padding: 20px;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(45, 45, 66);
  background: linear-gradient(63deg, rgb(45, 45, 66) 0%, rgb(0, 0, 0) 32%, rgb(57, 68, 83) 64%, rgb(0, 0, 0) 100%);
}
.account-pres .account-icon {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #fae8e8;
  overflow: hidden;
}
.account-pres .account-icon img {
  width: 100%;
  height: 100%;
}
.account-pres .account-hello {
  width: 100%;
  text-align: center;
  color: #eee;
}

.pars-select-general-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.pars-select {
  border-radius: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 7vh;
  grid-auto-columns: 8vw;
  gap: 20px;
  position: relative;
}
.pars-select .par-select-cont {
  width: 100%;
  height: 100%;
}
.pars-select .par-select-cont .cus-select {
  border-radius: 10px;
  overflow: hidden;
}
.pars-select .par-select-cont .cus-select-options {
  top: calc(100% + 5px);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.asist-calendar {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 10px;
  margin-top: 17px;
  gap: 8px;
}
.asist-calendar .calendar-generals {
  display: flex;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  background-color: #6d80b5;
}
.asist-calendar .calendar-generals .cal-gen-col {
  display: flex;
  flex-direction: column;
}
.asist-calendar .calendar-generals .cal-gen-col .mod-col-header {
  background-color: #4474bc;
}
.asist-calendar .calendar-generals .cal-gen-col .mod-row {
  padding: 10px;
}
.asist-calendar .calendar-list {
  width: 100%;
}
.asist-calendar .calendar-list .calendar-month {
  display: grid;
  width: 100%;
  height: 8vh;
  grid-template-columns: 15% 70% 15%;
}
.asist-calendar .calendar-list .calendar-month .cus-select {
  background-color: #bcccf1;
}
.asist-calendar .calendar-list .calendar-month .change-month {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.2s;
  background-color: #bcccf1;
}
.asist-calendar .calendar-list .calendar-month .change-month:hover {
  background-color: #bbb;
}
.asist-calendar .calendar-list .calendar-month .change-month:active {
  transition: all 0s;
  background-color: #9ac7ee;
}
.asist-calendar .calendar-list .calendar-days {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.asist-calendar .calendar-list .calendar-days .cal-header-days {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14.2857142857%;
  height: 10%;
}
.asist-calendar .calendar-list .calendar-days .cal-list-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 50px);
}

.asist-conjunt-cont {
  position: relative;
}

.cal-list-days .asist-day {
  position: absolute;
  z-index: 10;
  background-color: #74745c;
  padding: 5px;
}
.cal-list-days .asist-day .asist-four-modules {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-auto-rows: 30px;
}
.cal-list-days .asist-day .asist-four-modules .asist-mod {
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cal-list-days .asist-day .asist-four-modules .asist-pres {
  background-color: #0bd222;
}
.cal-list-days .asist-day .asist-four-modules .asist-inas {
  background-color: #a71717;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */