@import './vars.scss';

@import './all/molecules/Nav/_Nav.scss';
@import './all/molecules/customSelect/_customSelectStyles.scss';

@import "./all/templates/Asistenter/_asistenter.scss";
@import "./all/templates/Log&Reg/initStyles.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}