$apNavBg: #6e7cbd;

$asistenterCentralBg: #ddd;
$asistenterBg: #c5bbbb;
$tournCheckedBg: $asistenterBg;

$generalParamsWX: 70%;

$cusSelectBg: #3f82f7;
$cusSelOptsContBg: #a0aed1;
$cusSelOptsContHoverBg: #7d98dd;

