

.cus-select-wrapper{
    position: relative;
    width: 200px;
}

.cus-select{
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 10px;
    background-color: $cusSelectBg;
    width: 10vw;
}

.cus-select-options{
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 100%;
    left: 0%;
    z-index: 99;
    background: $cusSelOptsContBg;
    overflow: auto;
}
.cus-select-option{
    background: $cusSelOptsContBg;
    padding: 5px;
    &:hover{
        background-color: $cusSelOptsContHoverBg;
    }
}
.modulo{
    .cus-select-option{
        padding: 10px;
    }
}